{% extends './base-edit.html' %}

{% block js %}

<script> 
  $(function () {
        $("#myTab a:contains('Fuentes de agua y conservacion')").parent().addClass('active');        

});

$(document).ready(function() {
  $('#form').ajaxForm(function() {
    alert("Formulario guardado exitosamente");
    $("#form").remove();
  }); 
});

  
</script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation"  class="active"><a href="#">Vivienda - Nacimientos </a></li>
  <li role="presentation"><a href="/update/usos-agua/{{object.predio_id}}">Vivienda - Usos </a></li>
</ul>

</br>

<form action="." method="POST" id="form">{% csrf_token %}
{{form.as_p}}
<p><input type="submit" value="Guardar"></p>
</form>
{% endblock %}