<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
<script src="{{STATIC_URL}}js/jquery-1.11.2.min.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.js"></script>
<link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">

{% block js %} {% endblock %}

{% block styles %} {% endblock %}

</head>
<body>
	
<div class="navbar" id="barra" style="margin-bottom:50px">
    <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>     
		<span class="icon-bar"></span>     
        <span class="icon-bar"></span>  
        </button>
        <a href="#" class="brand">PrediApp<img src="http://imageshack.com/a/img538/8439/N3lBTg.png" id="imagen1"></a>
        <legend id="separador"></legend> 
    </div>
</div>

{%block content %} {% endblock %}

<footer>
    <legend id="separador2"></legend>
    <div class="container-fluid" id="piepagina">
     <div class="row-fluid">
       <div class="span2">
         <a href="http://www.cipav.org.co/"><img src="http://imageshack.com/a/img540/1305/HhrNZx.png" id="icono2"></a>
         <a href="www.arauca-arauca.gov.co/"><img src="http://imageshack.com/a/img537/2955/XyXxZK.png" id="icono3"></a>
       </div>
       <div class="span5" style="float:right; background-color:#228B22; border-radius:5px; padding-right:5px;">
         <p style="float:right; color:white; font-size:11px; margin-bottom:-10px">Copyrigth alcaldia de Arauca 2014. http://www.arauca-arauca.gov.co</p>         
         <p style="float:right; color:white; font-size:11px; margin-bottom:-10px"><i class="icon-envelope icon-white"></i> Cra 21 # 19- 18 Barrio la Esperanza</p>
         <p style="float:right; color:white; font-size:11px; clear:both; margin-bottom:-2px">Sistemas@arauca.gov.co</p>
       </div>
     </div>
    </div>
    
</footer>

</body>
</html>