{% extends './base.html' %}

{% block js %}

<script> 
  $(function () {
        $("#myTab a:contains('Informacion del Predio')").parent().addClass('active');        
     });

$(document).ready(function() {
  $('#form').ajaxForm(function() {
    alert("Formulario guardado exitosamente");
    $("#form").remove();
  }); 
});

  
</script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Información general y jurídica</a></li>
  <li role="presentation"><a href="/informacionpredio/creditos/">Crédito</a></li>
  <li role="presentation"><a href="/informacionpredio/vivienda/">Vivienda estructuca y servicios básicos</a></li>
</ul>

</br>

<form action="." method="POST" id="form">{% csrf_token %}
{{form.as_p}}
<p><input type="submit" value="Guardar"></p>
</form>
{% endblock %}